{% extends "blog_main_part/base.html" %} {% load bootstrap3 %} {% block content %}
<section class="panel panel-default">
    <header class="panel-heading">
        <h2>
                {{ post.title }}
        </h2>

        <small>
          作者：<span>{{ post.author }}</span>
          <br>
          发布时间：<span>{{ post.created_time }}</span>
          最新修改时间：<span>{{ post.modified_time }}</span>
          <br>
          类别: <span>{{ post.category }}</span>
          {% if post.tags %}
          标签：<span>{{ post.tags }}</span>
          {% else %}
          <span>{{ post.tags }}</span>

        </small>

    </header>

    <div class="panel-body">
        <p>
            {{ post.body }}
        </p>

    </div>
</section>
<!-- panel -->
{% endblock content %}
