{% extends "blog_main_part/base.html" %} {% load bootstrap3 %} {% block content %}
<section class="panel panel-default">
    <header class="panel-heading">
        <h2>
                {{ post.title }}
        </h2>

        <small>
          发布时间：<span>{{ post.date_added }}</span><br>
          类别: <span>{{ post.category }}</span>

        </small>

    </header>

    <div class="panel-body">
        <p>
            {{ post.content }}
        </p>

    </div>
</section>
<!-- panel -->
{% endblock content %}
